/*PARA VER LOS QUE HAY QUE HACER, ID AL FINAL DE ESTE DOCUMENTO */
/*
El resultado  se entregará antes del 15/10/2021
Se enviará un enlace a la secretaria del master
*/

/* ESTILOS APLICADOS*/


/*General Styles*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");
@import url("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #555;
}

.logo {
    float: left;
    border-radius: 2px;
    padding-left: 3rem;
    position: relative;
    padding: 0%;
    width: 40px;
    height: 40px;
}

.navbar {
    position: fixed;
    z-index: 10;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

ul,
nav {
    list-style: none;
}

nav>li>a:hover {
    text-decoration: none;
    color: #ffffff;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
}

a:hover {
    opacity: 1;
}

.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #e07e7b;
    opacity: 1;
    transition: all 400ms;
}

.btn:hover {
    background-color: #ce5856;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #e07e7b;
    border: 0;
    margin-bottom: 50px;
}

h3.title {
    text-transform: capitalize;
    font: bold 48px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 600px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}

/*Header Styles*/

header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: #fff;
    z-index: 2;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Amatic SC", sans-serif;
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 15px;
}

@media (max-width: 800px) {
    .logo {
        left: 10px;
        top: 10px;
        width: 20px;
        height: 20px;
        position: absolute;
    }

    header {
        padding: 20px 50px;
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }

    nav>li>a {
        z-index: 10;
    }
}

/*Hero Styles*/

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #fff;
    background-size: cover;
}

#contact {
    height: 100px;
    position: relative;
    background-image: url(https://assets.codepen.io/6791/clip-slider-bg.jpg);
    background-size: cover;
    color: #fff;
}

.hero-content-area h1 {
    font: 72px "Open Sans", sans-serif;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.hero-content-area h3 {
    font: 28px "Raleway", sans-serif;
    font-weight: 300;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    text-align: center;
    color: #fff;
    background-size: cover;
    top: 35%;
    left: 15%;
    right: 15%;
    z-index: 1;
    position: absolute;
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media (max-width: 1300px) {
    .hero-content-area {
        top: 30%;
    }
}

@media (max-width: 840px) {
    .hero {
        min-height: 768px;
        background-position: center;
    }

    .hero-content-area h1 {
        font-size: 48px;
    }

    .hero-content-area h3 {
        font-size: 24px;
    }

    .hero a.btn {
        padding: 15px 40px;
    }
}

/*Destinations Section*/

.destinations .grid li {
    height: 350px;
    margin: 20px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}

.destinations .grid li.small {
    flex-basis: calc(30% - 20px);
}

.destinations .grid li.large {
    flex-basis: calc(66% - 20px);
}

@media (max-width: 1100px) {

    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: calc(50% - 20px);
    }
}

@media (max-width: 800px) {

    .destinations .grid li.small,
    .destinations .grid li.large {
        flex-basis: 100%;
    }
}

/*Packages Section*/

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.icon {
    color: #e07e7b;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

@media (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}

/*Testimonials Section*/

.testimonials .quote {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

@media (max-width: 800px) {
    .testimonials .quote {
        font-size: 18px;
        margin: 15px 0;
    }

    .testimonials .author {
        font-size: 14px;
    }
}

/*Footer Section*/

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #555;
    color: #e07e7b;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    align-self: center;
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
    }

    footer ul li {
        margin: 0 8px;
    }
}

hr {
    background: #333;
}

.btn {
    background: #555;
}

.btn:hover {
    background: #333;
}

i.icon {
    color: #49bac2;
}

h3.title {
    font-size: 30px
}

.destinations .grid li {
    border-radius: 30px;
}

footer {
    background-color: #000000;
    color: #ffffff
}

a {
    color: #ffffff;
}

.affix {
    padding: 10px;
    background-color: #00000069;
}

figure.snip1384 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    background-color: #000000;
}

figure.snip1384 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

figure.snip1384 img {
    max-width: max-content;
    backface-visibility: hidden;
    vertical-align: top;
}

figure.snip1384:after,
figure.snip1384 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure.snip1384:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.65);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

figure.snip1384 figcaption {
    z-index: 1;
    padding: 40px;
}

figure.snip1384 h3,
figure.snip1384 .links {
    width: 100%;
    margin: 5px 0;
    padding: 0;
}

figure.snip1384 h3 {
    line-height: 1.1em;
    font-weight: 700;
    font-size: 1.4em;
    text-transform: uppercase;
    opacity: 0;
}

figure.snip1384 p {
    text-align: left;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 1px;
    opacity: 0;
    top: 50%;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}

figure.snip1384 i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 20px 25px;
    font-size: 34px;
    opacity: 0;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

figure.snip1384 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

figure.snip1384:hover img,
figure.snip1384.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
}

figure.snip1384:hover:after,
figure.snip1384.hover:after {
    opacity: 1;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

figure.snip1384:hover h3,
figure.snip1384.hover h3,
figure.snip1384:hover p,
figure.snip1384.hover p,
figure.snip1384:hover i,
figure.snip1384.hover i {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
}

.reveal {
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.satelit {
    width: 30px;
}

.contain {
    height: 25em;
    width: 25em;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    right: 50%;
    color: #ffffff;
}

.moon {
    background-image: url(https://www.pngmart.com/files/4/Earth-PNG-Image.png);
    background-size: cover;
    background-color: #2d87e728;
    height: 8em;
    width: 8em;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    bottom: 0;
    top: 0;
    left: -80%;
}

.orbit {
    height: 15em;
    width: 15em;
    border-radius: 50%;
    position: absolute;
    left: -3.3em;
    bottom: -3.3em;
    animation: spin 27.55455s infinite linear;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1100px) {
    .contact {
        height: 760px;
        overflow-x: hidden;
    }

    .contain {
        font-size: 20px;
        left: 50%;
        top: 60%;
    }

    .moon {
        position: relative;
        bottom: 0;
        top: 40%;
        left: 0;
    }
}

.carousel {
    position: relative;
    z-index: 3;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block
}

.carousel-item-next,
.carousel-item-prev {
    position: absolute;
    top: 0;
}

.carousel-item-next.carousel-item-left,
.carousel-item-prev.carousel-item-right {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .carousel-item-next.carousel-item-left,
    .carousel-item-prev.carousel-item-right {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.active.carousel-item-right,
.carousel-item-next {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-right,
    .carousel-item-next {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

.active.carousel-item-left,
.carousel-item-prev {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)) {

    .active.carousel-item-left,
    .carousel-item-prev {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, .5);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: ""
}

.carousel-indicators .active {
    background-color: #fff
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}

.w-100 {
    height: fit-content;
    width: 100% !important
}

.d-block {
    display: block !important
}

.d-none {
    display: none !important
}

@media (min-width:768px) {
    .d-md-block {
        display: block !important
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    -webkit-clip-path: none;
    clip-path: none
}

/* Compiled coding for cards */
.cs-cards figure {
    background-color: #fff;
}
.cs-cards figure>figcaption {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(255, 255, 255);
}

/* sets default colors and bg */
.cs-cards figure>figcaption>h1,
.cs-cards figure>figcaption>h2,
.cs-cards figure>figcaption>h3,
.cs-cards figure>figcaption>h4,
.cs-cards figure>figcaption>h5 {
    color: rgb(255, 255, 255);
}

figcaption span {
    text-transform: uppercase;
    color: #fff;
    background: transparent;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
}

figcaption h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}

figcaption p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
}

/* sets default colour for headings */
.cs-cards figure.card {
    margin: 0;
}

/* remove bootstrap card margin */
.cs-cards figure {
    width: 250px;
    height: 330px;
}

/* set max size of team cards */
.cs-cards .expander {
    /* upward arrow to suggest interactivity */
    width: 100%;
    text-align: right;
    padding-right: 10px;
    position: absolute;
    bottom: 0px;
}

.cs-cards {
    min-height: 20px;
    font-size: 24px;
    color: black;
    padding: 0 3px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: none;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.cs-cards img {
    max-width: 100%;
    height: auto;
}

/* sets image size to full container */
.cs-cards figcaption a {
    cursor: pointer;
}

/* restore link pointer */
.cs-cards h3 {
    color: inherit;
    margin-bottom: 0;
}

/* set heading to inherit colour from parent */
.cs-cards a.btn {
    position: relative;
}

/* restores button to relativity*/
.cs-cards a.btn {
    background: transparent;
    color: #ffffff;
}
.cs-cards a.btn:hover {
    background: transparent;
    color: #cacaca;
}

/* sets default and hover font colour of button */
.cs-cards .imgbghover {
    /* image inserted via javascript */
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-filter: blur(10px) opacity(0.4);
    filter: blur(10px) opacity(0.4);
}

.cs-modal-footer {
    padding: 1rem !important;
    /* overrides row default padding */
    border-top: 1px solid #e9ecef;
}

.cs-gallery figure {
    width: auto;
    height: auto;
}

ul.social-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

ul.social-links a {
    color: rgb(96, 96, 96);
}

/* sets default colour which can be overridden in individual sections */
ul.social-links.social-light a {
    color: rgb(255, 255, 255);
}

/* sets lighter default colour */
ul.social-links>li {
    margin: 0;
}

.warpper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0px 2px;
    background: #333;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0px 0px;
}

.panels {
    background: #fff;
    min-height: 200px;
    width: 100%;
    min-width: fit-content;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.panel {
    display: none;
    animation: fadein 0.8s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold;
}

.radio {
    display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel {
    display: block;
}

#one:checked~.tabs #one-tab,
#two:checked~.tabs #two-tab,
#three:checked~.tabs #three-tab {
    background: #fff;
    color: #000;
    border-top: 3px solid #333;
}

main {
    position: relative;
    width: calc(min(90rem, 90%));
    margin: 0 auto;
    min-height: 100vh;
    column-gap: 3rem;
    padding-block: min(20vh, 3rem);
}

main>div span {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1rem;
    color: #717171;
}

main>div h1 {
    text-transform: capitalize;
    letter-spacing: 0.8px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
    background-color: #005baa;
    background-image: linear-gradient(45deg, #005baa, #000000);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

main>div hr {
    display: block;
    background: #005baa;
    height: 0.25rem;
    width: 6.25rem;
    border: none;
    margin: 1.125rem 0 1.875rem 0;
}

main>div p {
    line-height: 1.6;
}

main a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background: #fff;
    border-radius: 3.125rem;
    transition: 0.3s ease-in-out;
}

main>div>a {
    border: 2px solid #c2c2c2;
    margin-top: 2.188rem;
    padding: 0.625rem 1.875rem;
}

main>div>a:hover {
    border: 0.125rem solid #005baa;
    color: #005baa;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000015;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: 300px;
    height: 400px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(1px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
}

.swiper-slide-active {
    filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-slide span {
    text-transform: uppercase;
    color: #fff;
    background: #0000005e;
    padding: 7px 18px 7px 25px;
    display: inline-block;
    border-radius: 0 20px 20px 0px;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-family: "Open Sans", sans-serif;
}

.swiper-slide h2 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 15px;
    padding: 25px 45px 0 25px;
}

.swiper-slide p {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    padding: 0 25px 35px 25px;
}

.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url(img/guru/Istaris.png) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("img/guru/huda.png") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("img/guru/imam.png") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("img/guru/samsul.png") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
        url("img/guru/eka.png") no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}